<a href="https://colab.research.google.com/github/EarthAkkharawat/Python101/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python101 With Google Colab

This tutorial was written by [Akkharawat Burachokviwat](https://github.com/EarthAkkharawat)

Made as a material for workshops of Google Developer Student Club Chulalongkorn U.

###Introduction

In this tutorial, we will cover basic Python: 
*  Basic data types (int, float, boolean, string)
*  data structures (Lists, Dictionaries, Sets, Tuples)
*  Operations (if-else, Loop)
*  Functions
*  classes
*  Exercises (easy, medium, hard)

In [ ]:
!python --version

Python 3.7.12

###Basic data types

####Numbers

Integers and floats

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation
print(x / 2)   # Divide
print(x // 2)  # Divide with rounding **note that it's always round down as same as floor function.

4
2
6
9
1.5
1

In [ ]:
x += 4
print(x)
x *= 2
print(x)

7
14

In [ ]:
y = 3.99
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
3.99 4.99 7.98 15.920100000000001

Python also has built-in types for long integers and complex numbers; you can find all of the details in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#numeric-types-int-float-long-complex).

####Booleans

Python includes all of the common operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
true, false = True, False
print(type(true))
print(true)
print(true == 1)
print(false == 0)

<class 'bool'>
True
True
True

Let's look at the operations:

In [ ]:
print(true and false) # Logical AND;
print(true or false)  # Logical OR;
print(not true)       # Logical NOT;
print(true != false)  # Logical XOR;

False
True
False
True

####Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world  # String concatenation
print(hw)

hello world

In [ ]:
hw101 = '{} {} {}'.format(hello, world, 101)  # string formatting
print(hw101)

hello world 101

String objects have a bunch of useful methods; for example:

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.lower())       # Convert a string to lowercase; prints "hello"
print(s)               # s still remain the same
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
hello
hello
  hello
 hello
he(ell)(ell)o
world

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

###Data structures and Operations

Python includes various built-in container types: lists, dictionaries, sets, and tuples.

####Lists

A list is the Python equivalent of an array which is similars to matrix in mathematical terms. It is resizeable and can contain elements of different types

In [ ]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end(right) to the front(left) of the list; prints "2"

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'aaa'    # Lists can contain elements of different types
print(xs)

[3, 1, 'aaa']

In [ ]:
xs.append('bbb') # Add a new element to the end of the list
print(xs)

[3, 1, 'aaa', 'bbb']

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

bbb [3, 1, 'aaa']

You can find all details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).

####Slicing

Python provides concise syntax to access sublists; this is known as slicing

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
print(nums)         # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"
nums[2:4] = [8, 9]  # Assign a new sublist to a slice
print(nums)         # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

####if-else

In [1]:
a = 3
if (a==3): a += 2
if (a==5): a += 5
if (a==7): a -= 1
if (a==10): a = 3
else: a // 2
a

3

In [ ]:
if (a==3): a += 2
elif (a==5): a += 5
elif (a==7): a -= 1
elif (a==10): a = 3
a

5

####Loop

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

Or like this:

In [ ]:
for idx in range(len(animals)):
    print(animals[idx])

cat
dog
monkey

In [ ]:
for i in range(5):
    for j in range(5):
        print(i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

If you want access to the index of each element while doing a loop, use the built-in `enumerate` function

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: cat
#2: dog
#3: monkey

####List comprehensions:

As a simple example, consider the following code that computes divided numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x / 2)
print(squares)

[0.0, 0.5, 1.0, 1.5, 2.0]

We can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [ ]:
[print(i, j) for i in range(5) for j in range(5)]

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

####Dictionaries

A dictionary stores (key, value) pairs. You can use it like this:

In [ ]:
d = {'cat': 'fish', 'dog': 'rat'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key

fish
True

In [ ]:
d['fish'] = 'wet'     # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"
print(d)

wet
{'cat': 'fish', 'dog': 'rat', 'fish': 'wet'}

In [ ]:
dic1 = {}
dic2 = dict()
print(type(dic1))
print(type(dic1))

<class 'dict'>
<class 'dict'>

In [ ]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: ignored

In [ ]:
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"

N/A
wet

In [ ]:
del d['fish']        # Remove an element from a dictionary
print(d.get('fish', 'N/A')) # "fish" is no longer a key; prints "N/A"

N/A

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, so it's allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

####Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [ ]:
animals = {'dog', 'cat'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

Iterating over a set has the same syntax as iterating over a list. However, as sets are unordered, we cannot make assumptions about the order in which you visit the elements of the set

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#1: dog
#2: fish
#3: cat

Set comprehensions: Similar to lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
from math import sqrt
print({int(sqrt(x)) for x in range(30)})

{0, 1, 2, 3, 4, 5}

####Tuples

A tuple is an (immutable) ordered list of values. A tuple is similar to a list in several ways. One of the most important difference is that tuples can be used as keys in dictionaries and as elements of sets, whereas lists cannot. For example:

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print(type(t))
print(d)
print(d[t])       
print(d[(1, 2)])

<class 'tuple'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
5
1

In [ ]:
t[0] = 1

TypeError: ignored

###Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments.

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

###Classes

In [ ]:
class Hello:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def hello(self, upper=False):
        if upper:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Hello('Fred')  # Construct an instance of the Greeter class
g.hello()            # Call an instance method; prints "Hello, Fred"
g.hello(upper=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED

###Exercises

**Easy**

Reads and integer n. 
The list of non-negative integers that are less than n is `[0, 1, ..., n-1]`. Print the square of each number in the list on a separate line.

**Medium**

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

ex = `[[alpha, 20], [beta, 50], [gamma, 50]]`

The ordered list of scores is `[20, 50]`, so the second lowest score is 50. There are two students with that score: `[beta, gamma]`. Ordered alphabetically, the names are printed as:

beta

gamma

**Input Format**
The first line contains an integer, N, the number of students.

The 2N subsequent lines describe each student over 2 lines.
- The first line contains a student's name.
- The second line contains their grade.

**Constraints**

There will always be one or more students having the second lowest grade.

**Output Format**

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

***Sample Input 0***

5

Harry

37.21

Berry

37.21

Tina

37.2

Akriti

41

Harsh

39

***Sample Output 0***

Berry

Harry

***Explanation 0***

There are  students in this class whose names and grades are assembled to build the following list:

python students = `[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]`

The lowest grade of 37.2 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

**Hard**

You are given a spreadsheet that contains a list of  athletes and their details (such as age, height, weight and so on). You are required to sort the data based on the th attribute and print the final resulting table. Follow the example given below for better understanding.

Note that  is indexed from  to , where  is the number of attributes.


**Input Format**

The first line contains  and  separated by a space.

The next  lines each contain  elements.

The last line contains.


**Constraints**

`1 <= N,M <= 1,000`

`0 <= K < M`

`Each element <= 1,000`

`In each column, there will be no duplicate number`

**Output Format**

Print the  lines of the sorted table. Each line should contain the space 
separated elements. Check the sample below for clarity.

*Sample Input 0*

5 3

10 2 5

7 1 0

9 9 9

1 23 12

6 5 9

1

*Sample Output 0*

7 1 0

10 2 5

6 5 9

9 9 9

1 23 12

*Explanation 0*

The details are sorted based on the second attribute, since  is zero-indexed.

**Hard**

Write a function named reverse_char_array which has an array of character as a parameter. We have to reverse order of the all characters in the array.

For example

array = `[‘a’, ‘c’, ‘b’]` , after inverting the array, it becomes `[‘b’, ‘c’, ‘a’]`

array = `[‘a’, ‘+’, ‘x’, ‘c’, ‘*’]` ,  after inverting the array, it becomes `[‘c’, ‘+’, ‘x’, ‘a’, ‘*’]`     

*note that + and * are not English character so their position remain the same.

array = `[‘k’, ‘m’, '/']`, after inverting the array, it becomes `[‘m’, ‘k’, ‘/’]`

array = `['-', '%', 'k', '+', 'm', 'c', '*', 'd']`, after inverting the array, it becomes 
`[‘-’, ‘%’, ‘d’, ‘+’, ‘c’, ‘m’, '*', ‘k’]  `

*note that $%+* are not English character so their position remain the same.